/* Reset nhẹ */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Canh giữa form */
.ant-form {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  margin: 100px auto;
}

/* Toàn màn hình + nền */
body {
  margin: 0;
  height: 200px;
  background: linear-gradient(135deg, #4f46e5, #22c55e);
}

.iconuser {
  width: 100px;
}

/* Label */
.ant-form-item-label > label {
  font-weight: 600;
  color: #333;
}

/* Input */
.ant-input,
.ant-input-password {
  border-radius: 8px;
}

/* Focus input */
.ant-input:focus,
.ant-input-password:focus,
.ant-input-focused {
  border-color: #4f46e5 !important;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

/* Button */
.ant-btn-primary {
  border-radius: 8px;
  background-color: #4f46e5;
  border-color: #4f46e5;
  font-weight: 600;
}

.ant-btn-primary:hover {
  background-color: #4338ca;
  border-color: #4338ca;
}

/* Message */
.ant-message {
  font-size: 14px;
}

.login-error {
  color: #ff4d4f;
  font-size: 12px;
  margin-bottom: 12px;
  
}

@media (max-width: 768px)  {
  .ant-form{
    max-width: 300;
  }
}
