.detail-container {
    padding: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.detail-wrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.detail-image {
    flex: 1;
    width: 300px;
}

.detail-image img {
    position: static !important;
    /* Quan trọng: Hủy bỏ absolute nếu có */
    width: 100%;
    border-radius: 12px;
}

.detail-brand {
    font-size: 16px;
    color: gray;
}

.detail-price {
    font-size: 24px;
    font-weight: bold;
    color: #ff4d4f;
    margin: 10px 0;
}

.detail-description {
    margin-top: 15px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .detail-container {
        padding: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .detail-info {
        padding-top: 20px;
    }
}