.sidebar {
  position: relative;
  width: 240px;
  min-height: 200vh;
  background-color: #A78656;
  color: white;
  padding-top: 20px;
}

.logo {
  padding: 0 20px 20px;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  width: 100%;
}

/* 🔥 CỐT LÕI */
.menu-item {
  display: block;          /* QUAN TRỌNG */
  width: 100%;             /* QUAN TRỌNG */
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.25s;
}

/* Hover full chiều ngang */
.menu-item:hover {
  background: rgba(255, 255, 255, 0.08);
}

/* Active */
.menu-item:active {
  background: rgba(255, 255, 255, 0.12);
}

.LogOut {
  background-color: #A78656;
  padding: 14px 20px;
  position: absolute;
  width: 100%;
  bottom: 10px;
  border: none;
  cursor: pointer;
  color: aliceblue;
  font-size: 20px;
}

.LogOut:hover {
  background: rgba(255, 255, 255, 0.08);
}
