body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* ===== Container tổng ===== */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ===== Header ===== */
header {
  height: 60px;
  flex-shrink: 0;
}

/* ===== Phần giữa ===== */
.main {
  display: flex;
  flex: 1; /* chiếm toàn bộ chiều cao còn lại */
}

/* ===== Sidebar ===== */
.sidebar {
  width: 240px;
  background: #A78656;
  color: white;
}

/* ===== Content ===== */
.content {
  flex: 1;
  padding: 20px;
  background: #f5f5f5;
}

/* ===== Footer ===== */
footer {
  height: 50px;
  flex-shrink: 0;
}
