.header {
  height: 60px;
  background: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.search {
  padding: 6px;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}
