.list-container {
  padding: 20px;
}

.list-container .head {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.list-container .header-product {
  text-align: center;
}

.list-container .logo-shop {
  width: 100px;
}

.list-container .search {
  justify-items: center;
  align-items: center;
}

/* Card */
.product-card {
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  height: 400px;
  
}

.product-card:hover {
  transform: translateY(-6px);
}

.product-image-container {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.product-image {
  width: 200px;
  object-fit: cover;
  display: block;

}

.product-details {
  padding: 10px 0;
}

.ant-card-body {
  padding: 15px !important;
}

.product-info {
  padding: 12px;
  text-align: center;
  background: #fff;
}

.product-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.product-brand {
  font-size: 14px;
  color: gray;
  margin-bottom: 6px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff4d4f;
}

.pagination-wrapper {
  margin-top: 30px;
  text-align: center;
}