.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: "Barlow", sans-serif;
  height: 60px;
  background: #14416b;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

/* Search */
.search {
  margin-left: 20px;
  width: 100%;
}

/* LEFT GROUP */
.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

a.logo {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: #fff;
  letter-spacing: -0.5px;
  text-decoration: none;
  flex-shrink: 0;
  margin-top: 20px;
}

a.logo span {
  color: #ffd6cc;
}

/* MENU BUTTON */
.menu-btn {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* LOGO */
.logo img {
  height: 45px;
  object-fit: contain;
}

/* USER */
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.languages {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.notifications {
  color: white;
  display: flex;
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }

  .left {
    width: 100%;
    justify-content: space-between;
  }

  .search {
    margin-left: 0;
    margin-top: 10px;
  }

  .user {
    margin-top: 15px;
  }

  .category-panel {
    width: 300px;
    left: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}