.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 60px;
  background: #14416b;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

/* LEFT GROUP */
.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* MENU BUTTON */
.menu-btn {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

/* LOGO */
.logo img {
  height: 45px;
  object-fit: contain;
}

/* USER */
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}